@tailwind base;
@tailwind components;
@tailwind utilities;

.root {
  background-image: url('../public/pexels-pratikgupta-2748716.jpg'); /* Replace with your image URL */
  background-size: cover; /* Adjusts the image to cover the container */
  background-position: center; /* Centers the image */
  /* Ensures the height adjusts based on content */
}
